<p>Hi <%= @subscriber.first_name || "you awesome person you" %>!</p>

<p>Welcome to Liz and Nathan's travel blog! You have been successfully added to our email list.</p> 

<p>Expect an email update no more than once a week, and (hopefully) no less than once a month. We promise to never spam you, and if you'd like to remove your subscription at any time, just reply to this email.</p>

<p>Adventure is out there!</p>

<p>Liz and Nathan</p>