<% content_for :title do %>About Liz<% end %>
<% content_for :description do %>Who am I? What am I doing here? What are YOU doing here? Find out!<% end %>

<div class="row info-section">
  <div class="col-sm-12">
    <%= image_tag "headshot-liz.jpg", class: "img-responsive center-block" %>
  </div>

  <div class="col-sm-8 col-sm-offset-2 description-overlay">
    <h2 class="text-center">Liz</h2>
    <p>Full-stack web developer with an unlikely degree in Political Science and a past life in digital marketing.</p>
    <p>Liz is a former cross-country athlete turned inflexible yogi, and her favorite coffee drink is the piccolo latte. She loves cats, charcoal-grilled bananas, and making bad decisions about how many coconuts should be consumed by a person in a single day.</p>

    <div class="text-center">
      <div class="col-xs-4">
        <a href="https://github.com/lizhubertz" target="_blank"><i class="fa fa-github fa-3x"></i></a>
      </div>
      <div class="col-xs-4">
        <a href="https://twitter.com/lizhubertz" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
      </div>
      <div class="col-xs-4">
        <a href="https://linkedin.com/in/lizhubertz" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a>
      </div>
    </div>

  </div>
</div>
