<div class="row">
  <div class="col-sm-6">
    <%= image_tag "http://babyli.st/assets/about-nathan-937e492a438848630ac9f2d173bc4ade.jpg", class: "img-responsive" %>
    <h2>Nathan</h2>
    <p><strong>Likes</strong> Coffee, cycling, a good, close shave</p>
    <p><strong>Dislikes</strong> Crooked sheets</p>
    <p><strong>Works on</strong> iOS, Android</p>
  </div>
  <div class="col-sm-6">
    <%= image_tag "http://babyli.st/assets/about-liz-604991c905e82b83495dad5b5ec43249.jpg", class: "img-responsive" %>
    <h2>Liz</h2>
    <p><strong>Likes</strong> Kittens, Birkenstock sandals, a bowl of hot oatmeal</p>
    <p><strong>Dislikes</strong> Mold</p>
    <p><strong>Works on</strong> Ruby on Rails, JavaScript & Friends, CSS</p>
  </div>
</div>