
<div class="row info-section">
  <div class="col-sm-12">
    <%= image_tag "headshot-liz.jpg", class: "img-responsive center-block" %>
  </div>

  <div class="col-sm-8 col-sm-offset-2 description-overlay">
    <h2 class="text-center">Liz</h2>
    <p>Full-stack web developer with an unlikely degree in Political Science and a past life in digital marketing. Liz built this website and does most of the writing, though you'll see posts from Nathan from time to time.</p>
    <p>Liz is a former cross-country athlete turned inflexible yogi, and her favorite coffee drink is the piccolo latte. She loves cats, charcoal-grilled bananas, and making bad decisions about how many coconuts should be consumed by a person in a single day.</p>
    
    <div class="text-center">
      <div class="col-xs-4">
        <a href="https://github.com/lizhubertz" target="_blank"><i class="fa fa-github fa-3x"></i></a>
      </div>
      <div class="col-xs-4">
        <a href="https://twitter.com/lizhubertz" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
      </div>
      <div class="col-xs-4">
        <a href="https://linkedin.com/in/lizhubertz" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="row info-section">
  <div class="col-sm-12">
    <%= image_tag "headshot-nathan.jpg", class: "img-responsive center-block" %>
  </div>

  <div class="col-sm-8 col-sm-offset-2 description-overlay">
    <h2 class="text-center">Nathan</h2>
    <p>iOS and Android developer who escaped the corporate world of Microsoft SilverLight to live a life of coffee-fueled insanity in San Francisco.</p>
    <p>Nathan's favorite coffee drink is a perfectly executed pour-over. His loves in life are Liz, speedy wifi, and taking inappropriately long naps in both the morning and afternoon.</p>
  </div>
</div>

<hr>

<div class="row info-section">
  <div class="col-sm-12">
    <%= image_tag "headshot-liz-and-nathan.JPG", class: "img-responsive center-block" %>
  </div>

  <div class="col-sm-8 col-sm-offset-2 description-overlay">
    <h2 class="text-center">Liz & Nathan</h2>
    <p>A dynamic duo known for making people feel bad about their Chemex pours, Liz and Nathan will be traveling the world (well, parts of it) throughout 2015.</p>
    <p>Along the way, they're writing about their experience here. Goals for the trip include eating good food, touring some of the best coffee shops in the world, and building up their skills as software developers.</p>
    <p>If you're like to chat with either of us, shoot an email to <a href="mailto:liz.hubertz@gmail.com">liz.hubertz@gmail.com</a></p>
  </div>
</div>
