<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="UTF-8">
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <main>

    <div id="test">
      <section class="homepage-hero">
        <div class="homepage-hero-container">
          <div class="homepage-hero-content">
            <h2 class="homepage-hero-headline">Hello World</h2>

            <div class="homepage-hero-copy">
              It's Liz and Nathan.
            </div>

          </div>
        </div>
      </section>
      
      <div class="container blog-preview-section">
        <div class="homepage-section-header">Join us</div>
        <div id="#preview-content">
          <div class="row">
          
          <div id="wrapper">
            <div id="columns">
              <div class="pin">
                <%= image_tag "beach-bus.jpg" %>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  Sed feugiat consectetur pellentesque. Nam ac elit risus, 
                  ac blandit dui. Duis rutrum porta tortor ut convallis.
                  Duis rutrum porta tortor ut convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  Sed feugiat consectetur pellentesque. Nam ac elit risus, 
                  ac blandit dui. Duis rutrum porta tortor ut convallis.
                  Duis rutrum porta tortor ut convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  Sed feugiat consectetur pellentesque. Nam ac elit risus, 
                  ac blandit dui. Duis rutrum porta tortor ut convallis.
                  Duis rutrum porta tortor ut convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  Sed feugiat consectetur pellentesque. Nam ac elit risus, 
                  ac blandit dui. Duis rutrum porta tortor ut convallis.
                  Duis rutrum porta tortor ut convallis.
                </p>
              </div>
            
              <div class="pin">
                <img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
                <p>
                  Donec a fermentum nisi. 
                </p>
              </div>
            
              <div class="pin">
                <img src="http://cssdeck.com/uploads/media/items/6/6f3nXse.png" />
                <p>
                  Nullam eget lectus augue. Donec eu sem sit amet ligula 
                  faucibus suscipit. Suspendisse rutrum turpis quis nunc 
                  convallis quis aliquam mauris suscipit.
                </p>
              </div>
            
              <div class="pin">
                <img src="http://cssdeck.com/uploads/media/items/8/8kEc1hS.png" />
                <p>
                  Nullam eget lectus augue. Donec eu sem sit amet ligula 
                  faucibus suscipit. Suspendisse rutrum turpis quis nunc 
                  convallis quis aliquam mauris suscipit.
                </p>
              </div>
            
              <div class="pin">
                <img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
                <p>
                  Donec a fermentum nisi. Integer dolor est, commodo ut 
                  sagittis vitae, egestas at augue. 
                </p>
              </div>
            
              <div class="pin">
                <img src="http://cssdeck.com/uploads/media/items/6/6f3nXse.png" />
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  Sed feugiat consectetur pellentesque. Nam ac elit risus, 
                  ac blandit dui. Duis rutrum porta tortor ut convallis.
                  Duis rutrum porta tortor ut convallis.
                </p>
              </div>  
              
              <div class="pin">
                <img src="http://cssdeck.com/uploads/media/items/2/2v3VhAp.png" />
                <p>
                  Nullam eget lectus augue. Donec eu sem sit amet ligula 
                  faucibus suscipit. Suspendisse rutrum turpis quis nunc 
                  convallis quis aliquam mauris suscipit.
                  Duis rutrum porta tortor ut convallis.
                </p>
              </div>
            
              <div class="pin">
                <img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
                <p>
                  Nullam eget lectus augue. 
                </p>
              </div>
            
              <div class="pin">
                <img src="http://cssdeck.com/uploads/media/items/8/8kEc1hS.png" />
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  Sed feugiat consectetur pellentesque. 
                </p>
              </div>
            
              <div class="pin">
                <img src="http://cssdeck.com/uploads/media/items/2/2v3VhAp.png" />
                <p>
                  Donec a fermentum nisi. Integer dolor est, commodo ut 
                  sagittis vitae, egestas at augue. Suspendisse id nulla 
                  ac urna vestibulum mattis. Duis rutrum porta tortor ut convallis.
                </p>
              </div>
            
              <div class="pin">
                <img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
                <p>
                  Donec a fermentum nisi. Integer dolor est, commodo ut 
                  sagittis vitae, egestas at augue. Suspendisse id nulla 
                  ac urna vestibulum mattis. 
                </p>
              </div>
            
              <div class="pin">
                <img src="http://cssdeck.com/uploads/media/items/6/6f3nXse.png" />
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  Sed feugiat consectetur pellentesque. Nam ac elit risus, 
                  ac blandit dui. Duis rutrum porta tortor ut convallis.
                </p>
              </div>  
              
              <div class="pin">
                <img src="http://cssdeck.com/uploads/media/items/2/2v3VhAp.png" />
                <p>
                  Donec a fermentum nisi. Integer dolor est, commodo ut 
                  sagittis vitae, egestas at augue. Suspendisse id nulla 
                  ac urna vestibulum mattis. 
                </p>
              </div>
            
              <div class="pin">
                <img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
                <p>
                  Donec a fermentum nisi. Integer dolor est, commodo ut 
                  sagittis vitae, egestas at augue. Suspendisse id nulla 
                  ac urna vestibulum mattis. 
                </p>
              </div>
            
              <div class="pin">
                <img src="http://cssdeck.com/uploads/media/items/6/6f3nXse.png" />
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  Sed feugiat consectetur pellentesque. Nam ac elit risus, 
                  ac blandit dui. Duis rutrum porta tortor ut convallis.
                </p>
              </div>
            </div>
          </div>


          </div><!-- .row -->
        </div><!-- #preview-content -->
      </div>

    </div>
  </main>

</body>
</html>

