    <!-- Navigation -->
    <nav id="wedding-header" class="navbar text-center" role="navigation">
        <div class="container">

            <div class="ptm">
                <ul class="nav navbar-nav text-uppercase text-headings">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll text-info" href="#cast">The Cast</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#story">The Story</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#who">Who</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#what">What</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#why">Why</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#rsvp">RSVP</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>